body{
    background-image: url("bbb.jpg");
    width: 120px;
    height: 100px;
}
div>div>div {
    margin-left: 650%;
}
div {
    color: white;
}
input {
    border-color: #d592f19e;
    margin-left: 470%;
    background-color: black;
    border-radius: 40px;
    width: 450px;
    height: 70px;
    margin-top: 50px;
    text-align: center;
    border-width: 10px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #d592f19e;
}
button{
    border-color: #d592f19e;
    margin-left: 480%;
    background-color: black;
    border-radius: 40px;
    width: 100px;
    height: 20px;
    margin-top: 50px;
    text-align: center;
    border-width: 10px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #d592f19e;
}